[project]
	description = tour
[access "refs/*"]
	owner = group user/amoa400 (amoa400)
[access "refs/for/refs/*"]
	read = group user/amoa400 (amoa400)
	push = group user/amoa400 (amoa400)
	label-Code-Review = -2..+2 group user/amoa400 (amoa400)
	label-Verified = -1..+1 group user/amoa400 (amoa400)
	rebase = group user/amoa400 (amoa400)
	removeReviewer = group user/amoa400 (amoa400)
	submit = group user/amoa400 (amoa400)
[access "refs/heads/*"]
	read = group user/amoa400 (amoa400)
	create = group user/amoa400 (amoa400)
	push = +force group user/amoa400 (amoa400)
	pushMerge = group user/amoa400 (amoa400)
[access "refs/tags/*"]
	push = +force group user/amoa400 (amoa400)
	pushTag = group user/amoa400 (amoa400)
	pushSignedTag = group user/amoa400 (amoa400)
