@charset "utf-8";
/* CSS Document */
body{ padding:0; margin:0 auto; font-size:12px; line-height:22px; background-color:#fdfff9;} 
a,area { blr:expression(this.onFocus=this.blur()) }/* for IE */
focus { outline: none; } /* for Firefox */
a{ color:#ff6e00; text-decoration:none;}
a:hover{ color:#ff5400; text-decoration: underline;}
.top_img{ width:930px; height:85px; background:url(../../images/admin/top.jpg) no-repeat; margin:0 auto;}
.mid{ width:930px; height:auto; margin:0 auto; margin-top:7px;}
.left{ width:180px; height:auto; float:left;}
.left1{ width:180px; height:80px;}
.left_te1{ width:6px; height:80px; float:left;}
.left_te2{ width:168px; height:80px; float:left; background:url(../../images/admin/left1_05.jpg) repeat-x;}
.left_te3{ width:6px; height:80px; float:right;}
.left2{ width:180px; height:auto; margin-top:7px;}
.left2_1{ width:180px; height:6px;}
.left2_2{ width:178px; height: auto; background-color:#fffaef; border-left:#ffc287 1px solid; border-right:#ffc287 1px solid;overflow:hidden;}
.left2_2 ul{ list-style:none; padding:0px; margin:0px;}
.left2_2 li span{ font-size:13px; font-weight:bold; background:url(../../images/admin/nv.jpg) no-repeat center; display:block; width:178px; height:31px; text-align:center; line-height:34px; color:#FFFFFF;}
.left2_2 a, .left2_2 a:visited{ color:#ff5400; text-decoration:none; width:178px; display:block; line-height:28px; text-indent:50px; margin:4px 0;}
.left2_2 a:hover{ background:url(../../images/admin/nv1.jpg) no-repeat center; color:#ff4200;}

.right{ width:743px; height: auto; float:right;}
.right1{ width:743px; height: 32px; background:url(../../images/admin/right_03.jpg) no-repeat; line-height:32px; text-indent:18px; color:#ff6e00; }
.right2{ width:741px; height: auto; border-left:#ffc287 1px solid; border-right:#ffc287 1px solid; background-color:#FFFFFF; }
.right2_tt{ width:96%; height:auto; padding:6px 0; color:#444;}
.right3{ width:743px; height:6px;}

.btt{ width:930px; height:30px; color:#ff5400; margin:0 auto; margin-top:7px;}
